body {
  transition: background-color 0.3s, color 0.3s;
}

/* Hidden elements */
.hidden {
  display: none;
}

/* Social Media Icons */
.social-icon {
  font-size: 20px;
  color: inherit; /* Ensures icons inherit the text color */
  text-decoration: none;
}

.social-icon svg {
  display: block; /* Center the SVG */
}

.social-icon:hover {
  color: #0056b3; /* Change to desired hover color */
}

.wd50 {
  width: 100%;
}

#dynamicFormContainer {
  margin: 70px 0px; /* Add margin to create space between sections */
}

.form-row.font-weight-bold {
  margin-bottom: 10px; /* Space between header and form fields */
}

.custom-file {
  margin-bottom: 20px; /* Add space below the upload field */
}

.custom-file-label::after {
  height: calc(1.25em + 1.05rem);
  -webkit-border-radius: 0 0.15rem 0.15rem 0;
  -moz-border-radius: 0 0.15rem 0.15rem 0;
  -ms-border-radius: 0 0.15rem 0.15rem 0;
  -o-border-radius: 0 0.15rem 0.15rem 0;
  border-radius: 0 0.15rem 0.15rem 0;
}

.w-75 {
  width: 100% !important;
}

.d-blc {
  display: block;
}
/* Ensure footer links have appropriate spacing */
.mx-2 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

/* Utility class for margin-top */
.mt-1rem {
  margin-top: 1rem !important;
}

/* Footer alignment */
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .social-icons {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .wd50 {
    max-width: 50%;
  }
  .w-75 {
    width: 50% !important;
  }
}

/* Increase the size of the checkboxes */
input[type="checkbox"] {
  width: 24px;
  height: 24px;
  margin-right: 10px; /* Add space between the checkbox and its label */
}

/* Ensure checkboxes and labels are aligned */
.form-check {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  margin-bottom: 16px; /* Maintain sufficient spacing between checkboxes */
}

.form-check-input {
  width: 24px;
  height: 24px;
  margin-right: 10px; /* Add space between the checkbox and the label */
}

.form-check-label {
  margin-bottom: 0; /* Remove default bottom margin */
  font-size: 16px; /* Adjust the font size for readability */
}

:root {
  /* Light Mode Variables */
  --link-color: #0056b3 !important;
  --link-hover-color: #003a75 !important;
  --button-bg-color: #0a496b !important;
  --button-hover-bg-color: #032d41 !important;
  --footer-bg-color: #adb5bd !important;
  --footer-text-color: #333333 !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Mode Variables */
    --link-color: #000000 !important;
    --link-hover-color: #480101 !important;
    --button-bg-color: #0a496b !important;
    --button-hover-bg-color: #032d41 !important;
    --footer-bg-color: #343a40 !important;
    --footer-text-color: #000000 !important;
  }
}

/* Apply the variables to elements */
.navbar-nav .nav-link {
  color: var(--link-color) !important;
}

.navbar-nav .nav-link:hover {
  color: var(--link-hover-color) !important;
}

.btn-info {
  background-color: var(--button-bg-color);
  color: #fff; /* Ensure white text */
  border-color: var(--button-bg-color);
}

.btn-info:hover {
  background-color: var(--button-hover-bg-color);
}

.btn-primary {
  background-color: var(--button-bg-color);
  color: #fff; /* Ensure white text */
}

.btn-primary:hover {
  background-color: var(--button-hover-bg-color);
}

.btn-danger {
  color: #fff;
  background-color: #ca1905;
  border-color: #ca1905;
}

.btn-danger:hover {
  background-color: #861104;
}

.footer,
.p-3 {
  color: var(--footer-text-color) !important;
}

.footer a {
  color: var(--link-hover-color) !important;
}

.footer a:hover {
  color: #bdbdbd !important;
}
